@font-face {
    font-family: 'RivalsFont';
    src: url('./RivalsFont.ttf') format('truetype');
    
}

:root
{
    --wits_yellow : #FFB81C;
    --wits_blue : #002D72;
    
}

h1,h2,h3,h4,h5,h6{
     font-family: 'RivalsFont', sans-serif;
    font-size: 50px;
    font-weight: normal;
}

body
{
    background: var(--wits_blue);
}

#cards-container
{
        margin-left: auto;
    margin-right: auto;
   
}
.player-card {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title      title"
        "name       hero"
        "rivals     hero"
        "level      hero"
        "roles      roles"
        "trackers   trackers";

    gap: 12px;
    background: var(--wits_yellow);

    width: 75%;
    margin: 20px auto;
    padding: 12px;
    border: 2px solid var(--wits_blue);
    border-radius: 25px;
}

.infoBlock, .trackersContainer {
    padding: 10px;
    border: 2px solid var(--wits_blue);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15); 
}

.infoBlock{
    display: flex;
    align-items: center;
    justify-content: center;
}




.acglName {
    grid-area: title;
}

.mainHero {
    grid-area: hero;
    width: 90%;
    border: black 2px dashed;
    border-radius: 12px;
}

.name {
    grid-area: name;
}

.rivalsName {
    grid-area: rivals;
}

.level {
    grid-area: level;
}

.roleContainer {
    grid-area: roles;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.roleLabel {
    font-weight: bold;
    margin-right: 8px;
}

/* Individual role entries */
.roleItem {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin: 0;
    font-size: 0.95rem;
}

div .role
{
    border:none;
}


.roleIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.trackersContainer {
    grid-area: trackers;   
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.infoBlock:hover
{
    background-color: rgba(255, 255, 255,0.5 );
}